* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

header {
    width: 100%;
    height: 500px;
    background: url(imagens/main-banner.png) no-repeat top;
    background-size: cover;
}

main {
    display: flex;
    width: 1200px;
    max-width: 1200px;
    height: auto;
    margin: auto;
}

#One {
    flex-grow: 3;
    background-color: white;
}

#titulo {
    width: 100%;
    background-color: white;
    padding: 10px;
    text-decoration: underline;
}

#wrapperFlex {
    display: flex;
    width: 100%;
}

#sectionOne {
    flex-grow: 1;
    width: 120px;

}

#grandesTextos {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 0 0 0 20px;
    background-color: white;
}

#textoOne {
    width: 100%;
}

#textoTwo {
    width: 100%;
    margin-top: 15px;
}

#textoTwo h2 {
    font-size: 2em;
    line-height: 1.9rem;
    margin-bottom: 5px;
}

#sectionTwo {
    width: 400px;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
}


#firstRow {
    display: flex;
    gap: 10px;
    width: 100%;
    height: auto;
    padding: 2%;
}

#firstRow .divisaoImg1 {
    width: 35%;
}


#firstRow .divisaoImg2 {
    width: 70%;
}

#firstRow .divisaoImg1 img {
    width: 100%;
    height: 100%;
}

#firstRow .divisaoImg2 img {
    width: 100%;
    height: 100%;
}

#secondRow {
    width: 100%;
    height: auto;
    padding: 10px;
}

#secondRow img {
    width: 100%;
}

#thirdRow {
    width: 100%;
    height: auto;
    padding: 10px;
}

#thirdRow img {
    width: 100%;
}

#fourthRow {
    display: flex;
    width: 100%;
    height: auto;
    padding: 10px;
}

#columImage {
    flex-grow: 2;
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.divisaoImgF1 {
    width: auto;
}

.divisaoImgF1 img {
    width: 100%;
}


.divisaoImgF2 {
    width: auto;
}

.divisaoImgF2 img {
    width: 100%;
}


#columLorem {
    flex-grow: 3;
    width: 100px;
    padding: 5px;
    
}













#Two {
    flex-grow: 1;
    background-color: brown;
    height: 100%;
}